.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#mycanvas
{
 background-color:aliceblue; 
  border:ridge 10px  cyan;


}

